<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 cold-xs-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Manage</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <%= link_to new_dashboard_project_path, class: 'list-group-item' do %>
                          New project
                        <% end %>
                        <%= link_to destroy_user_session_path, method: :delete, class: 'list-group-item' do %>
                          Logout
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 cold-xs-8">
            <div class="row projects-display">
                
                <% @projects.each do |t| %>
                    <div class="col-md-4 col-xs-4">
                        <div class="project">
                            <h2><%= t.name %></h2>
                            <h3><%= t.created_at.to_date %></h3>
                            <hr></hr>
                            <%= image_tag t.screenshots.resized if t.screenshots.resized.present? %>
                            <div class="project-links-container">
                                <%= link_to dashboard_project_path(t.id), remote: true do %>
                                  <span class="glyphicon glyphicon-search"></span>
                                <% end %>
                                <%= link_to edit_dashboard_project_path(t.id) do %>
                                  <span class="glyphicon glyphicon-pencil"></span>
                                <% end %>
                                <%= link_to dashboard_project_path(t.id), method: :delete, data: {confirm: "Are you sure ?"} do %>
                                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                <% end %>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                <% end %>
                
            </div>
        </div>
    </div>
    <hr></hr>

    <div class="row project-display">
        <div class="col-lg-8 col-md-8 cold-xs-8 project-details-images"></div>
        <div class="col-lg-4 col-md-4 cold-xs-4 project-details">
            <h3></h3>
            <p></p>
            <h4>Technologies :</h4>
            <ul></ul>
        </div>
    </div>

    
</div>
