<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 cold-xs-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Manage</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <%= link_to new_dashboard_project_path, class: 'list-group-item' do %>
                          New project
                        <% end %>
                        <%= link_to destroy_user_session_path, method: :delete, class: 'list-group-item' do %>
                          Logout
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 cold-xs-8">
            <div class="row projects-display">
                
                <% @projects.each do |t| %>
                    <div class="col-md-4 cold-xs-4 project">
                        <h2><%= t.name %></h2>
                        <h3><%= t.created_at.to_date %></h3>
                        <hr></hr>
                        <%= image_tag t.screenshots.resized if t.screenshots.resized.present? %>
                        <div class="project-links-container">
                             <%= link_to edit_dashboard_project_path(t.id) do %>
                              <span class="glyphicon glyphicon-pencil"></span>
                            <% end %>
                            <%= link_to dashboard_project_path(t.id), method: :delete, data: {confirm: "Are you sure ?"} do %>
                              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            <% end %>
                        </div>
                    </div>
                <% end %>
                
            </div>
        </div>
    </div>
    <hr></hr>
    <div class="row">
        <div class="col-lg-8 col-md-8 cold-xs-8">
            <img class="img-responsive" src="http://placehold.it/750x500" alt="">
        </div>
        <div class="col-lg-4 col-md-4 cold-xs-4">
            <h3>Project Description</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
            <h3>Project Details</h3>
            <ul>
                <li>Lorem Ipsum</li>
                <li>Dolor Sit Amet</li>
                <li>Consectetur</li>
                <li>Adipiscing Elit</li>
            </ul>
        </div>
    </div>
    
</div>
